@layer components.main {
    .main {
        background-color: var(--color-grey-900);
        color: var(--color-grey-50);
        padding: var(--space-pad-100);
        display: flex;
        flex-direction: column;
        gap: 4.5rem;
    }
}