@layer components.nav {
    .nav {
        background-color: var(--color-grey-900);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 var(--space-pad-100);

        .nav__list {
            display: flex;
            gap: 1rem;
        }

        .nav__link {
            color: var(--color-grey-200);
            text-decoration: none;
            transition: color 0.2s;
        }

        .nav__link--active {
            color: var(--color-warning-400);
        }
    }
}