@layer components.nav {
    .nav {
        background-color: var(--color-grey-900);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem var(--space-pad-100);

        .nav__list {
            display: flex;
            gap: 1rem;
            align-items: center;
        }

        .nav__link {
            color: var(--color-grey-200);
            font-weight: 600;
            text-decoration: none;
            transition: all 0.2s;
            height: 1.5rem;
            padding: 0.75rem 1rem;
        }

        .nav__link--active {
            color: var(--color-warning-400);
            font-size: 1.125rem;
        }
    }
}